#Nav {
  font-size: 0.8rem;
  color: white;
  padding: 1.2rem;
}
#Nav {
  background-color: #191d2b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
}

#Nav p {
  /* background-color: #27AE60; */
  color: #f05b33;
}

.maincontainer {
  //margin-top: 3rem;
  padding: 10%;
}

.MuiTelInput-TextField {
  width: fit-content;
  height: 50%;
  padding: 5px 5px;
}

.avatar {
  width: 8rem !important;
  height: 8rem !important;
  margin-top: 2em;
  margin-bottom: 2rem;
}
.MUIButton {
  display: flex;
  color: rgb(225, 225, 235) !important;
  background-color: #3857f1 !important;
  width: 10%;
  margin-left: 90% !important;
}
